name: KtLint Check

on:
  pull_request:
    paths:
      - '**/*.kt'
      - '**/*.kts'
      - '**/*.gradle*'
      - 'gradle/wrapper/**'

jobs:
  ktlint:
    runs-on: ubuntu-latest


    permissions:
      contents: read
      pull-requests: write

    steps:

      - uses: actions/checkout@v4


      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'
          cache: gradle


      - name: Make gradlew executable
        run: chmod +x ./gradlew



      - name: Run ktlint
        run: ./gradlew ktlintCheck --no-daemon --continue


      - name: Upload ktlint report
        if: failure()
        uses: actions/upload-artifact@v3
        with:
          name: ktlint-report
          path: '**/build/reports/ktlint/*'